
.cell{
    width: 100px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px;
    position: relative;
    box-sizing: border-box;
}

.xaxis_label{
    border: none;
}

.yaxis_label{
    border: none;
    display: flex;
    justify-content: flex-end;
    width: auto;
    align-items: flex-end;
    padding-right: 10px;
    line-height: 60%;
}
.column_wrapper{
    display:flex;
    bottom:0;
    left:50%;
    position:absolute;
    align-items:end;
    gap:5px;
}
.data_column{
    width: 10px;
    background-color: brown;
} 
canvas {
    position: absolute;
    bottom: 0;
    left: 0;
}
