
  .pie{
    position: relative;
    left:0;
    top:0;
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }

  .cover1{
    position: absolute;
    left:50%;
    top:0;
      height: 250px;
      width: 125px;
      transform-origin: left;
      border-radius: 40px 999em 999em 40px;
    }
